* {
  box-sizing: border-box;
}

.board {
  height: 400px;
}

.board-position {
  border: 1px solid #aaa;
}

.board-position.place-hover {
  background-color: #5af;
}

.board-position.place-hover-invalid {
  background-color: #f55;
}

.board-position.delete-hover {
  border: 2px solid #f55;
}

.board-position.occupied {
  background-color: #222;
}
