* {
  box-sizing: border-box;
}

#game-board {
  width: 250px;
  height: 500px;

  margin: 32px auto;

  border: 1px solid #000;
}

#p1-board,
#p2-board {
  height: 50%;
  border: 1px solid #000;

  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
}

.position {
  border: 1px solid #aaa;
  width: 100%;
}

.ship-length.active {
  background-color: #9f9;
}

.ship {
  background-color: #000;
}
